.manage {
	width: 80vw;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.manage {
		width: 80vw;
	}
}

//TODO change color of background by city time
.city-list {
	border: 1px solid $col-300;
	padding: $pad2;
	// background-color: rgba($netural-color, 0.8);
	.city-item {
		padding: $pad1;
		width: 100%;
	}

	.delete-city {
		float: right;
	}

	.city-item {
		display: flex;
		flex-direction: row;
		.stats {
			// font-size: $font1;
		}
	}
}

.manage-bg {
	padding: $pad3;
	position: absolute;
	background: url('/src/Assets/World.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100vh;
	height: 100vh;
	z-index: -1;
	opacity: 0.25;
}
