.hours {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  //-webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hour {
  text-align: center;
  padding-bottom: $pad2;
  .icon {
    min-width: 64px;
    min-height: 64px;
    border: 0px;
  }
  &.is-loading {
    min-height: 50px;
  }
}

.rounded-box {
  //pos
  margin: 0.5em;
  padding: 0.75em 0.5em;
  background: rgba($netural-color, 0.25);
  //col
  //txt
  //misc
  border-radius: 3em;
  .temp {
    font-size: $font4;
  }
}
