.main-stats,
.daily-stats {
	display: flex;
	justify-content: flex-start;
	// padding: $pad1;
	overflow: hidden;

	//scrolling horizontally
	overflow-x: auto;
	overflow-y: hidden;
	webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}
}
.stat {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
}

.main-stats .stat {
	min-width: 80px;
	max-width: 12rem;
	padding: $pad1;
	margin-right: $pad1;
	// border: 1px solid $dark-scheme-col;
}

.daily-stats .stat {
	min-width: 50px;
	max-width: 5rem;
	padding: $pad1;
	margin-right: $pad1;
	// border: 1px solid $dark-scheme-col;
}

.nameContainer {
	padding-bottom: $pad1;
	padding-right: $pad1;
	display: flex;
	flex-direction: column;

	span.name {
		font-size: 0.65rem;
	}
}
.valueContainer {
	display: flex;
	flex-direction: column;
}

.main-stats {
	.value {
		font-size: $font5;
	}
	.unit {
		font-size: $font2;
	}
}

.daily-stats {
	.value {
		font-size: $font2;
	}
	.unit {
		font-size: $font1;
	}
}
