:root {
	--primary-color: #738cff;
	--secondary-color: #738cff;
	--primary-color2: #859BC6;
	--secondary-color2: #A5ABB7;

	--txt-col-100: #6C7B82;
	--txt-col-200: #97969F;
	--txt-col-300: #D2D5DF;
	--txt-col-400: #F0F7FE;
	--txt-col-500: #FCFFFD;

	--bg-col-100: rgb(45, 34, 55);
	--bg-col-200: rgb(62, 65, 95);
	--bg-col-300: rgb(71, 83, 108);
	--bg-col-400: rgb(213, 220, 236);
	--bg-col-500: rgb(235, 240, 255);
}

