:root {
	--primary-color: #ffa900;
	--secondary-color: #ffd582;
	--primary-color2: #DBE9FA;
	--secondary-color2: #EAEAEA;

	--txt-col-100: #BCC6C4;
	--txt-col-200: #6C7B82;
	--txt-col-300: #384153;
	--txt-col-400: #384153;
	--txt-col-500: #231B2A;

	--bg-col-100: rgb(247, 251, 255);
	--bg-col-300: rgb(227, 234, 255);
	--bg-col-300: rgb(213, 220, 236);
	--bg-col-400: rgb(62, 65, 95);
	--bg-col-500: rgb(32, 34, 46);
}
