@import '../../../SCSS/GlobalStyles.scss';

.stats {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 0.5em;
	overflow-y: hidden;
	height: auto;
}

.stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;

	//colors
	border: 1px solid #aaaeb6;
	box-sizing: border-box;
	border-radius: 25px;
	height: 150px;

	.stat-name {
		font-size: clamp(8px, 2vw, 12px);
		font-weight: 700;
		margin: 0.5em;
	}
	.stat-value {
		font-size: clamp(12px, 3vw, 24px);
	}
}
