.modal-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	// background-color: rgba($dark-night-bg, 0.8);
}

.modal-body {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto; /* Enable scroll if needed */
	padding: $pad1;
	border-radius: $rad-2;
	background-color: var(--bg-col-200);
	box-shadow: 0px -3px 12px rgba(170, 174, 182, 0.7),
		0px 4px 12px rgba(151, 169, 255, 0.75), 0px 2px 4px rgba(115, 140, 255, 0.4);
}

.modal-content {
	display: flex;
	flex-direction: column;
}
