@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

//Global rules

$main-radius: 2.25rem;
$secondary-radius: 1rem;

$pad1: 1em;
$pad2: 2em;
$pad3: 3em;

$col-100: #f8fbff;
$col-200: #f0f7fe;
$col-300: #dbe9fa;
$col-400: #5c6f91;
$col-500: #384153;

$font-100: 0.875em;
$font-200: 1em;
$font-300: 1.125em;
$font-400: 1.5em;
$font-500: 2.25em;

$animation-delay: 500ms;
$animation-duration: 500ms;

@mixin animation-transition {
	transition-delay: $animation-delay;
	transition-duration: $animation-duration;
}

@mixin main-light1 {
	background: linear-gradient(
		270deg,
		rgba(242, 249, 255, 0.25) 0%,
		rgba(185, 212, 239, 0.25) 100%
	);
	backdrop-filter: blur(25px);
	box-shadow: 0px -5.89964px 12px rgba(248, 252, 255, 0.25),
		inset 0px 5.67273px 34.0364px rgba(248, 252, 255, 0.5);
}

@mixin main-light2 {
	background: linear-gradient(
		270deg,
		rgba(242, 249, 255, 0.25) 0%,
		rgba(185, 212, 239, 0.25) 100%
	);
	backdrop-filter: blur(25px);
	border: 4px solid #d5dcec;
	box-shadow: 0px -5.89964px 12px rgba(248, 252, 255, 0.25),
		inset 0px 5.67273px 34.0364px rgba(248, 252, 255, 0.5);
}

@mixin main-dark1 {
	background: linear-gradient(
		270deg,
		rgba(153, 184, 255, 0.35) 0%,
		rgba(186, 199, 203, 0.35) 100%
	);
	backdrop-filter: blur(45px);
	border: 2px solid rgba(170, 185, 203, 0.15);
	box-shadow: 0px -5.67273px 18px rgba(159, 180, 221, 0.25),
		inset 0px 5.67273px 34.0364px rgba(159, 180, 221, 0.25);
}

@mixin main-dark2 {
	background: linear-gradient(
		270deg,
		rgba(153, 184, 255, 0.15) 0%,
		rgba(186, 199, 203, 0.15) 100%
	);
	backdrop-filter: blur(45px);
	border: 2px solid rgba(170, 185, 203, 0.15);
	box-shadow: 0px -5.67273px 17.0182px rgba(159, 180, 221, 0.25),
		inset 0px 5.67273px 34.0364px rgba(159, 180, 221, 0.25);
}

@mixin component-100 {
	display: flex;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	padding: $pad1;
	border-radius: $secondary-radius;
	background-color: rgba(var(--bg-col-100, 0.5));
}
