body {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	margin: 0 auto;
	padding: 0px;
	overflow: hidden;
	color: var(--txt-col-400);
	#bg-root {
		@include animation-transition;
	}

	.city {
		border-radius: $rad-3;
		margin: 0.5em auto;
		@include animation-transition;
	}

	&.light1 {
		#bg-root {
			background: $col-100;
		}
		.city {
			@include main-light1;
		}
	}

	&.light2 {
		#bg-root {
			background: $col-300;
		}
		.city {
			@include main-light2;
		}
	}
	&.dark1 {
		#bg-root {
			background: $col-400;
		}
		.city {
			@include main-dark1;
		}
	}
	&.dark2 {
		#bg-root {
			background: $col-500;
		}
		.city {
			@include main-dark2;
		}
	}
}

html {
	font-size: 18px;
	font-family: Roboto;
}

.content {
	margin: 0 auto;
	max-width: max-content;
}
// a:link {
// 	color: var(--primary-color1);
// 	text-decoration: none;
// }

// a:visited {
// 	color: $col-visited;
// }

// a:hover {
// 	color: $$col-hover;
// }

// a:active {
// 	color: $col-active;
// }

.toast-item {
	z-index: 1000 !important;
}

h1 {
	font-size: $font-500;
	font-weight: 600;
	line-height: 1.2;
	margin: 0px;
	padding: 0px;
	color: var(--txt-col-400);
}

h2 {
	font-size: $font-400;
	font-weight: 500;
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	color: var(--txt-col-400);
}
